{% extends "base.html" %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="UTF-8" />

{% block title %}register_done.html{% endblock %}

{% block content %}

    <h1>Registration Completed Successfully</h1> 
    <br>

    <p>Thank you for registering.</p> 

    <font size="5px" color="fuchsia">귀하에게 이메일을 보냈습니다. 5분내로 인증 후 로그인 창으로 복귀하여 로그인하시기 바랍니다..</font>  
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">14Gram</div>
</footer>

{% endblock %}

